* {
  box-sizing: border-box;
}

main {
  width: 800px;
  margin: 50px auto;
}

body {
  background-color:white;
}

.container {
  position: relative;
}


.number_board{
  width: 350px;
  height:350px;
  align: center;
  position: absolute;
  z-index: 1;
}

.input_board{
  width: 350px;
  height:350px;
  align: center;
  /*display: none;*/
  position: absolute;
}

#timer {
  color: black;
  font-size: 12px;
  display: block;
  margin: 30px;
  margin: black;
}

li {
  height:60px;
  width: 60px;
  display: inline-block;
  margin: -2px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  text-align: center;
  line-height: 60px;
  background-color: white;
}

  .newInput {
  height:60px;
  width: 60px;
  display: inline-block;
  margin: -2px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  text-align: center;
  line-height: 60px;
}

.correct {
  background-color: rgba(126,250,105,0.2);
}

.incorrect {
  background-color: rgba(199,0,0,0.2);
}
